.real-easted-ads-container {
  position: relative;
  margin: calc(var(--app-spacing) / 2) 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: stretch;
  gap: 30px;
}
.accommodation-in-marseille {
  flex: 1;
  background-color: var(--surfaces);
  border-radius: 20px;
  padding: 35px;
}

.accommodation-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.accommodation-card {
  position: relative;
  background-color: white;
  border-radius: 20px;
  height: 250px;
  padding: 10px;
}
.accommodation-card img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  object-fit: cover;
  height: 150px;
}

.beginning {
  padding: 20px;
}

.end {
  padding: 20px;
}

/*Tablet*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .real-easted-ads-container {
    margin: calc(var(--app-spacing) / 2) 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 30px;
    width: 1350px;
    height: 550px;
  }
  .accommodation-in-marseille {
    flex: 1;
    background-color: var(--surfaces);
    border-radius: 20px;
    padding: 35px;
  }
}

/*Phone*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .real-easted-ads-container {
    display: flex;
    flex-direction: column-reverse;
    margin: calc(var(--app-spacing) / 2) 0;
    gap: 30px;
    width: 850px;
  }
  .accommodation-in-marseille {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 35px;
    width: 70%;
  }

  .accommodation-container {
    display: flex;
    flex-direction: column;
    gap: 120px;
    width: 950px;
  }

  .accommodation-card {
    position: relative;
    background-color: white;
    border: 6px solid var(--surfaces);
    box-shadow: 0 0 12px #f0f2f6;
    border-radius: 20px;
    height: 580px;
    padding: 10px;
  }
  .accommodation-card img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    object-fit: cover;
    height: 402px;
  }

  .beginning {
    padding: 20px;
  }

  .end {
    padding: 20px;
  }
}
