.accommodation-in-marseille {
  flex: 1;
  background-color: var(--surfaces);
  border-radius: 20px;
  padding: 35px;
}

.accommodation-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.accommodation-card {
  position: relative;
  background-color: white;
  border-radius: 20px;
  height: 250px;
  padding: 10px;
}
.accommodation-card img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  object-fit: cover;
  height: 150px;
}

.beginning {
  padding: 20px;
}
.end {
  padding: 20px;
}
/*Tablet*/
@media screen and (max-width: 1180px) /*Phone*/ @media screen and (max-width: 640px) {
  .real-easted-ads-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: start;
    margin-right: 0;
  }

  .accommodation-in-marseille {
    display: flex;
    flex-direction: column;
    background-color: var(--surfaces);
    border-radius: 20px;
    padding: 35px;
    width: 414px;
    margin-right: 0;
  }

  .accommodation-container {
    display: flex;
    flex-direction: column;
  }

  .most-popular-container {
    display: flex;
    flex-direction: column;
    width: 375px;
  }

  .most .most-popular-card {
    width: 100px;
    height: 100px;
  }
}
