.activity-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 30px;
}

.activity-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 20px;
  box-shadow: 0 0 10px #f0f2f6;
}

.activity-card img {
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  flex: 1;
}

.activity-card h3 {
  margin: 25px 30px;
}

/*Tablet*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .activity-container {
    display: flex;
    gap: 90px;
    margin-top: 30px;
    width: 2px;
    align-items: stretch;
    flex-direction: row;
  }
  .in-marseille {
    margin-top: 880px;
  }

  .activity-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 20px;
    box-shadow: 0 0 15px #c4c8d3;
    width: 850px;
    gap: 45px;
  }

  .activity-card img {
    width: 265px;
    height: 25px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .activity-card h3 {
    margin: 25px 30px;
  }
}

/*Phone*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .activity-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;
  }

  .activity-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 20px;
    box-shadow: 0 0 10px #f0f2f6;
    width: 1200px;
  }

  .activity-card img {
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    flex: 1;
  }

  .activity-card h3 {
    margin: 25px 30px;
  }
}
