#app-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 30px 20px;
  margin-top: var(--app-spacing);
}

#app-footer article {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 50px;
}

/*Phone*/
@media screen and (max-width: 640px) {
  #app-footer article {
    flex-direction: column;
    align-items: start;
  }
}
