#app-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: var(--app-spacing);
}

#app-footer article {
  width: 667px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 230px;
}

/*Tablet*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #app-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1400px;
  }

  #app-footer article {
    display: flex;
    flex-direction: row;
    width: 1400px;
    gap: 10px;
  }
}

/*Phone*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #app-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1250px;
  }

  #app-footer article {
    display: flex;
    flex-direction: column;
    width: 1150px;
    gap: 30px;
  }
}
