.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-right: 220px;
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-right: 220px;
}

.first {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.second {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.money {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 55px;
  background-color: white;
  border: 2px solid var(--surfaces);
  width: 180px;
  height: 55px;
  gap: 20px;
}

.family {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 55px;
  background-color: white;
  border: 2px solid var(--surfaces);
  width: 120px;
  height: 55px;
  gap: 10px;
}

.heart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 55px;
  background-color: white;
  border: 2px solid var(--surfaces);
  width: 180px;
  height: 55px;
  gap: 20px;
}

.animal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 55px;
  background-color: #deebff;
  border: 2px solid var(--surfaces);
  width: 230px;
  height: 55px;
  gap: 25px;
}

/*Phone*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .filter {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-top: 30px;
  }

  .display {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .first {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .second {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .money {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
    background-color: white;
    border: 2px solid var(--surfaces);
    width: 230px;
    height: 55px;
    gap: 20px;
  }

  .family {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
    background-color: white;
    border: 2px solid var(--surfaces);
    width: 230px;
    height: 55px;
    gap: 50px;
  }

  .heart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
    background-color: white;
    border: 2px solid var(--surfaces);
    width: 230px;
    height: 55px;
    gap: 50px;
  }

  .animal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
    background-color: white;
    border: 2px solid var(--surfaces);
    width: 230px;
    height: 55px;
    gap: 25px;
  }
  .difference {
    margin-left: 30px;
  }
}
