:root {
  --primary: #0065fc;
  --secondary: #deebff;
  --ternary: #d9d9d9;
  --surfaces: #f2f2f2;
  --app-spacing: 100px;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.5rem 0;
}

.fa-star,
.fa-chart-line {
  color: blue;
}

.start-disabled {
  color: var(--surfaces);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}

.medium-text {
  font-size: 16px;
  font-weight: 700;
}

.large-text {
  font-size: 22px;
  font-weight: 700;
}

.real-easted-ads-container {
  flex: 1;
  margin: var(--app-spacing) 0;
}

/*Tablet*/
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .container {
    margin: 0 40px;
  }
}

/*Phone*/
@media screen and (max-width: 640px) {
  .container {
    margin: 0 10px;
  }
}
