:root {
  --primary: #0065fc;
  --secondary: #deebff;
  --ternary: #d9d9d9;
  --surfaces: #f2f2f2;
  --app-spacing: 100px;
  --border: grey;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.5rem 0;
}

.fa-star,
.fa-chart-line,
.fa-solid,
.fa-light {
  color: blue;
}
.fa-solid {
  font-size: x-large;
}
.start-disabled {
  color: var(--surfaces);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}

.medium-text {
  font-size: 24px;
  font-weight: 700;
}

.large-text {
  font-size: 35px;
  font-weight: 700;
}

.normal-text {
  font-size: 28px;
  font-weight: 100;
}

/*Phone*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: 400;
  }

  .body-main {
    width: 1010px;
  }

  .container {
    max-width: 1440px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    font-size: 40px;
  }

  .fa-star,
  .fa-chart-line,
  .fa-solid,
  .fa-light {
    color: blue;
    width: 40x;
    height: 40px;
  }
  .fa-solid {
    font-size: 28px;
  }
  .start-disabled {
    color: var(--surfaces);
  }

  .medium-text {
    font-size: 44px;
    font-weight: 700;
  }

  .large-text {
    font-size: 54px;
    font-weight: 700;
  }

  .normal-text {
    font-size: 38px;
    font-weight: 100;
  }
}
