:root {
  --primary: #0065fc;
  --secondary: #deebff;
  --ternary: #d9d9d9;
  --surfaces: #f2f2f2;
  --app-spacing: 100px;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.5rem 0;
}

.fa-star,
.fa-chart-line,
.fa-solid,
.fa-light {
  color: blue;
}
.fa-solid {
  font-size: x-large;
}
.start-disabled {
  color: var(--surfaces);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}

.medium-text {
  font-size: 16px;
  font-weight: 700;
}

.large-text {
  font-size: 22px;
  font-weight: 700;
}

.normal-text {
  font-size: 19px;
  font-weight: 100;
}

/*Tablet*/
@media screen and (max-width: 1180px) {
  body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 600;
  }
}

/*Phone*/
@media screen and (max-width: 640px) {
  body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .container {
    padding: 0 20px;
  }
}
