.most-popular-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  background-color: var(--surfaces);
  border-radius: 20px;
  gap: 30px;
  padding: 22px;
  height: 720px;
}

.most-popular-container header {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.most-popular-card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  gap: 30px;
  height: 156px;
}

.most-popular-card img {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  width: 200px;
}

.most-popular-card h3 {
  display: flex;
}

.most-popular-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20px;
}
.vector {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

/*Tablet*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .most-popular-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 50px;
    height: 450px;
    width: 1250px;
    gap: 50px;
  }

  .most-popular-card {
    display: flex;
    margin-top: 110px;
    height: 250px;
    flex: 1;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .most-popular-container header {
    position: absolute;
    gap: 975px;
    bottom: -490px;
  }

  .most-popular-card h3 {
    display: flex;
    width: 100px;
  }

  //**.most-popular-card img {
  width: 250px;
  height: 285px;
}
**//

/*Phone*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .most-popular-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--surfaces);
    gap: 20px;
    padding: 35px;
    width: 1110px;
  }

  .most-popular-container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .most-popular-card {
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    gap: 30px;
  }

  .most-popular-card img {
    object-fit: cover;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    height: 250px;
    width: 220px;
  }

  .most-popular-card h3 {
    word-break: break-word;
  }

  .most-popular-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
  }
}
