/*Phone*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* main body */
  body {
    margin-right: 0;
    margin-left: 0;
  }

  /* body main */
  body {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-size: 8px;
    font-weight: 400;
    margin-left: 50px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-size: 42px;
    margin: 0.5rem 0;
  }

  .fa-chart-line,
  .fa-light,
  .fa-star {
    color: blue;
    height: 50px;
  }

  .start-disabled {
    color: #f2f2f2;
  }

  .container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .medium-text {
    font-size: 45px;
    font-weight: 700;
  }

  .large-text {
    font-size: 70px;
    font-weight: 700;
  }

  .normal-text {
    font-size: 54px;
    font-weight: 100;
  }

  /* nav bar */
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    height: 80px;
    width: 1200px;
    font-size: 34px;
    margin-right: 400px;
  }

  #navbar section {
    width: 100%;
    font-size: 90px;
    margin-top: 45px;
  }

  #navbar img {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 155px;
    margin-top: 15px;
  }

  .nav-button {
    width: 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 300ms ease-in-out;
    border: none;
  }

  .nav-button:focus {
    border-bottom: 2px solid#0065fc;
    border-top: #f2f2f2;
  }

  /*texte du début */
  .text-beginning {
    display: flex;
    flex-direction: column;
    width: 1300px;
    margin-top: 156px;
    gap: 50px;
    margin-bottom: 25px;
  }

  /* barre de recherche */

  .button-search {
    margin-top: 30px;
    display: flex;
    height: 90px;
    margin-bottom: 50px;
    width: 1020px;
  }

  .position {
    width: 70px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
  }

  .button-search h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    width: 500px;
    margin-top: initial;
    margin-bottom: initial;
  }

  .search {
    width: 400px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #0065fc;
    color: white;
    border: none;
  }

  /* filtres et icônes */

  .display {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 180px;
  }
  .first {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    width: 190px;
    margin-top: 25px;
  }

  .filters {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .filters button {
    border-radius: 50px;
    border: 2px solid #d9d9d9;
    background-color: white;
    padding: 8px 25px;
    gap: 58px;
    width: 600px;
    height: 120px;
    align-items: center;
    transition: all ease-in-out 300ms;
  }

  .filters button:hover,
  .filters button:focus {
    background-color: #deebff;
  }

  .filter-one {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .filter-two {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  /* informations */

  .description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
  }

  .information {
    background-color: white;
    border: 2px solid #f2f2f2;
    width: 50px;
    height: 50px;
    border-radius: 30px;
  }

  /* hebergement à marseille  */
  .real-easted-ads-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 0px;
    width: 950px;
  }
  .accommodation-in-marseille {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 35px;
    width: 70%;
  }

  .accommodation-container {
    display: flex;
    flex-direction: column;
    gap: 120px;
  }

  .accommodation-card {
    position: relative;
    background-color: white;
    border: 6px solid var(--surfaces);
    box-shadow: 0 0 12px #f0f2f6;
    border-radius: 20px;
    height: 580px;
    padding: 10px;
    width: 950px;
  }
  .accommodation-card img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    object-fit: cover;
    height: 402px;
    width: 950px;
  }

  .beginning {
    padding: 20px;
  }

  .end {
    padding: 20px;
  }

  /* les plus populaires */

  .most-popular-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #f2f2f2;
    gap: 30px;
    padding: 70px;
    width: 100%;
  }

  .most-popular-container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .most-popular-card {
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    gap: 30px;
    height: 200px;
  }

  .most-popular-card img {
    object-fit: cover;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;

    width: 220px;
  }

  .most-popular-card h3 {
    word-break: break-word;
  }

  .most-popular-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
  }

  /* activités à Marseille */
  .activity {
    width: 900px;
    margin-top: 90px;
  }

  .activity-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;
  }

  .activity-card {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 10px #f0f2f6;
    height: 580px;
    padding: 10px;
    width: 950px;
  }

  /* footer */
  #app-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1000px;
  }

  #app-footer article {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
    gap: 30px;
  }
}
