/* tablet */
@media only screen and (min-width: 480px) and (max-width: 1440px) {
  /* body main */
  body {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-size: 8px;
    font-weight: 400;
    margin-left: 50px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0.5rem 0;
  }

  .fa-star,
  .fa-chart-line,
  .fa-solid,
  .fa-light {
    color: blue;
  }

  .start-disabled {
    color: #f2f2f2;
  }

  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
  }

  .medium-text {
    font-size: 8px;
    font-weight: 700;
  }

  .large-text {
    font-size: 15px;
    font-weight: 700;
  }

  .normal-text {
    font-size: 10px;
    font-weight: 100;
  }
  /* nav bar */
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    gap: 55px;
  }

  .button.nav {
    display: flex;
  }

  #navbar section {
    display: flex;
    height: 100px;
  }

  #navbar img {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 45px;
  }

  .nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    height: 100px;
    width: 200px;
    transition: all 300ms ease-in-out;
    background-color: transparent;
    border-top: 2px solid #f2f2f2;
  }

  .nav-button:focus {
    color: #0065fc;
    border-top: 2px solid #0065fc;
  }

  /* texte du début */
  .text-beginning {
    margin-top: 50px;
  }

  /* barre de recherche */
  .button-search {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .position {
    width: 60px;
  }

  .button-search h3 {
    width: 200px;
  }

  .search {
    width: 130px;
  }

  /* filtres et icônes */
  .display {
    margin-left: 150px;
  }

  .first {
    width: 150px;
    margin-top: 20px;
  }

  .filters button {
    width: 150px;
  }
  .filter-one {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .filter-two {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  /* informations */
  .description {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  /* hebergements à Marseille */
  .real-easted-ads-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .accommodation-in-marseille {
    padding: 25px;
  }

  .accommodation-card img {
    height: 120px;
  }

  /* les plus populaires */
  .most-popular-container {
    padding: 25px;
  }

  .most-popular-card-box {
    gap: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .most-popular-card img {
    width: 110px;
    height: 109px;
  }
  .most-popular-card {
    width: 100%;
    height: 110px;
  }
  /* footer */
  #app-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #app-footer article {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 80px;
  }
}
