/* Desktop */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

#navbar section {
  display: flex;
  height: 100px;
}

#navbar img {
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  height: 100px;
  width: 200px;
  transition: all 300ms ease-in-out;
  background-color: transparent;
  border-top: 2px solid #f2f2f2;
}

.nav-button:focus {
  color: var(--primary);
  border-top: 2px solid var(--primary);
}

/*Tablet*/
@media screen and (min-width: 641px) and (max-width: 1024px) {
  #navbar section {
    display: flex;
    width: 160px;
    margin-right: 250px;
  }

  #navbar img {
    margin-left: 10px;
  }
  .nav-button {
    border-top: 2px solid #f2f2f2;
    transition: all 300ms ease-in-out;
    background-color: transparent;
    width: 190px;
  }

  .nav-button:focus {
    border-top: 2px solid var(--primary);
  }
}

/* Phone */
@media screen and (max-width: 640px) {
  #navbar {
    flex-direction: column;
    margin-top: 8%;
  }

  #navbar img {
    margin-top: 3px;
  }
  .nav-button {
    width: 200px;
    height: 80px;
    border-top: none;
    border-bottom: 2px solid #f2f2f2;
  }

  .nav-button:focus {
    border-top: none;
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
  }
}
