.button-search {
  margin-top: 30px;
  display: flex;
  height: 65px;
}

.position {
  width: 70px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
}

.button-search h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--surfaces);
  width: 500px;
  margin-top: initial;
  margin-bottom: initial;
}

.search {
  width: 180px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background-color: var(--primary);
  color: white;
}

/*Tablet*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .button-search {
    margin-top: 30px;
    display: flex;
    height: 65px;
    width: 800px;
  }

  .position {
    width: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
  }

  .button-search h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--surfaces);
    align-content: center;
    width: 1000px;
  }

  .search {
    width: 850px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    background-color: var(--primary);
    color: white;
  }
}

/*Phone*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .button-search {
    margin-top: 30px;
    display: flex;
  }

  .position {
    width: 70px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
  }

  .button-search h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--surfaces);
    width: 1520px;
    margin-top: initial;
    margin-bottom: initial;
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 325px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    background-color: var(--primary);
    color: white;
  }
}
