*/Deskop*/

/* body main */
body {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.5rem 0;
}

.fa-star,
.fa-chart-line,
.fa-solid,
.fa-light {
  color: blue;
}

.start-disabled {
  color: #f2f2f2;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}

.medium-text {
  font-size: 18px;
  font-weight: 700;
}

.large-text {
  font-size: 25px;
  font-weight: 700;
}

.normal-text {
  font-size: 18px;
  font-weight: 100;
}
/* nav bar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

#navbar section {
  display: flex;
  height: 100px;
}

#navbar img {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 65px;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  height: 100px;
  width: 200px;
  transition: all 300ms ease-in-out;
  background-color: transparent;
  border-top: 2px solid #f2f2f2;
}

.nav-button:focus {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

/* texte du début */

.text-beginning {
  margin-top: 70px;
}

/* barre de recherche */

.button-search {
  margin-top: 30px;
  display: flex;
  height: 65px;
  margin-bottom: 50px;
}

.position {
  width: 70px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
}

.button-search h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  width: 250px;
  margin-top: initial;
  margin-bottom: initial;
}

.search {
  width: 180px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #0065fc;
  color: white;
  border: none;
}

/* filtres et icônes */

.display {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 180px;
}
.first {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  width: 190px;
  margin-top: 25px;
}

.filter-one {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.filter-two {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.filters {
  display: flex;
  align-items: center;
  gap: 20px;
}

.filters button {
  border-radius: 50px;
  border: 2px solid #d9d9d9;
  background-color: white;
  padding: 8px 25px;
  display: flex;
  gap: 8px;
  align-items: center;
  transition: all ease-in-out 300ms;
}

.filters button:hover,
.filters button:focus {
  background-color: #deebff;
}

/* informations */

.description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.information {
  background-color: white;
  border: 2px solid #f2f2f2;
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

/* hebergements à Marseille */

.real-easted-ads-container {
  position: relative;
  display: flex;
  align-content: stretch;
  gap: 30px;
}

.accommodation-in-marseille {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 35px;
}

.accommodation-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.accommodation-card {
  position: relative;
  background-color: white;
  border-radius: 20px;

  padding: 10px;
}
.accommodation-card img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  object-fit: cover;
  height: 150px;
}
.beginning {
  margin-bottom: 20px;
}
.end {
  padding: 20px;
}

/* les plus populaires */

.most-popular-container {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 35px;
}

.most-popular-card-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;
}

.most-popular-container header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.most-popular-card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  gap: 30px;
  height: 156px;
  margin-bottom: 5px;
}

.most-popular-card img {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  width: 200px;
}

.most-popular-card h3 {
  display: flex;
}

.most-popular-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20px;
}
.vector {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

/* activités */
.in-marseille {
  margin-top: 55px;
}

.activity-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 30px;
}

.activity-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 20px;
  box-shadow: 0 0 10px #f0f2f6;
}

.activity-card img {
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  flex: 1;
}

.activity-card h3 {
  margin: 25px 30px;
}

/* footer */
#app-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 70px;
}

#app-footer article {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 230px;
}
.about {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hostel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.help {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
